body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#fafdf3;
}

.menu {
    background-color: rgb(35, 116, 85);
    text-align: center;
    padding:18px 0;
    padding-bottom:0px;
    position:relative;
}

.icons{
    text-align: end;
    margin-right: 10px;
    margin-top: 0;
}

.icons #market-icon {
    width: 25px;
    margin-right: 10px; 
    cursor: pointer; 
}


.icons img{
    max-width: 25px;
    margin-right:15px
}

.logo{
    text-align:center
}

.logo img {
    max-width: 80px;
    padding-bottom:20px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    box-sizing: border-box;
}

.modal-content button[type="submit"] {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(35, 116, 85);
    font-size: 16px;
    border: none;
    border-radius:5px;
    position:relative;
    color: whitesmoke;
    transition: color 0.3s ease;
}

#market-items-list {
    max-height: 500px; /* Set the maximum height for scrollability */
    overflow-y: auto; /* Enable vertical scrolling if the list exceeds the max height */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.menu ul {
    list-style: none;
    padding: 10px 0;
    margin-top:8px;
    margin-bottom:0;
    align-items: center;
    justify-content:flex-end;
    background-color: rgb(29, 93, 68);;
    
}

.menu ul li {
    
    display: inline;
    margin: 10px;
    position: relative;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 26px;
    margin: 0 10px;
    transition: color 0.3s;
    font-family:'Pacificoregular';
}

.menu ul li a:hover {
    color:black;
}

.menu-background{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: transparent;
    margin: 0;
    margin-top: 40px;
    padding: 0;
    position: relative;
    height: 60vh;
    display:block;
}

.menu-background video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
}

.menu-background-text{
    text-align:center;
    font-size: 18px;
    color: ghostwhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-label-text{
    font-size:20px;
    margin-right:5px;
    text-align:center;
    margin-left:30px
}

.menu-background-text img{
    max-width: 80px;
    margin-right:60px;
    margin-left:60px;
    margin-top:30px;
    margin-bottom: 40px;
    display: inline-block;
    filter: brightness(0) invert(1);
}

.content {
    display: flex;
    flex-direction: row; /* Arrange items in a column */
    align-items: flex-start;
}

.photo {
    float: left;
    width: 50%; /* Adjust as needed */
}

.details {
    text-align:center;
    float: right;
    width: 50%; /* Adjust as needed */
    padding: 20px; /* Adjust as needed */
    margin-top: 90px;
    margin-right:80px;
}

.photo img {
    max-width: 75%;
    height: auto;
    display: block;
    margin-top: 50px;
    margin-left: 60px;
    margin-right:30px;
    border-radius:25px;
}

h2{
    text-align:center;
    font-weight: bold;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.box {
    width: 30%; /* Adjust as needed */
    text-align: center;
    margin: 30px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
} 

.box.slide-in {
    opacity: 1;
    transform: translateY(0);
}

.box img {
    max-width: 70%;
    height: 80%;
    border-radius: 10px;
    cursor:pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.box img:hover {
    transform: scale(1.1); /* Adjust the scale factor for the close-up effect */
}


.box p {
    margin-bottom:0;
    margin-top: 10px;
    font-weight: bold;
} 

/*testing*/

#slider-container {
    display: flex;
    overflow: hidden;
}

.slider-item {
    width: 100%;
    display: none;
    justify-content:center;
    text-align:center;
    margin-left:30px;
}

.slider-item img {
    max-width: 30%;
    height: auto;
    width:150px;
    margin: 0 10px;
    border-radius:30px;
    margin-bottom:10px;
}

.slider-item p{
    margin-top:60px;
}

#buttons-container {
    margin-top: 10px;
    display:flex;
    justify-content: center;
    margin-bottom: 30px;
}

button {
    margin-right: 10px;
    background-color: #fafdf3;
    border:none;
    font-size: 22px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

button:hover{
    color: gray;
}

.buttonformenu{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(35, 116, 85);
    font-size: 16px;
    border: none;
    border-radius:5px;
    position:relative;
    color: whitesmoke;
    transition: color 0.3s ease; /*smooth transition effect*/
}

.textformenu{
    text-align:center;
}

.shop-slider-background{
    background-image: url('image/sweet-bun-with-chocolate-syrup-it.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: transparent;
    padding: 0;
    position: relative;
    display:block;
    z-index: -1;
}

.boxContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
}

.big-empty-box{
    width: 800px;
    height: 1300px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgba(62, 62, 62, 0.4);
    color:whitesmoke;
}

.inputbox{
    margin-top:40px;
    margin-left:50px;
    margin-bottom: 40px;
}

.textarea-style {
    width: 600px;
    height: 150px; 
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
    margin-bottom: 20px;
}

.textarea-totalprice{
    width: 200px;
    height: 50px; 
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
    margin-bottom: 20px;
}

.inputbox input[type="radio"] {
    transform: scale(1.5);
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left:25px;
}

select {
    width: 250px; 
    padding: 10px; 
    font-size: 16px; 
    border-radius:10px;
    background-color:rgb(250, 250, 250);
}

option {
    font-size: 16px; 
}

.inputbox input[type="date"]{
    width: 250px; 
    padding: 10px; 
    font-size: 16px; 
    border-radius:10px;
    background-color:rgb(250, 250, 250);
}

.inputbox input[type="text"]{
    width: 250px; 
    padding: 10px; 
    font-size: 16px; 
    border-radius:10px;
    background-color:rgb(250, 250, 250);
    margin-right:30px;
} 

.inputbox button[type="submit"]{
    width: 150px; 
    padding: 10px; 
    font-size: 16px; 
    border-radius:10px;
    background-color:rgb(35, 116, 85);
    color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.inputbox button[type="submit"]:hover{
    color:darkgray;
}

@keyframes splitAnimation {
    0% {
        transform: translateY(100%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
}

.about-container {
    max-width:1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top:20px;
    animation: splitAnimation 3s forwards;
}

.about-container img {
    width: 60%; 
    height: auto; 
    display: block; 
    border-radius:20px;
    margin-top:40px;
}

.about-container p{
    margin: 20px 0;
    font-size: 18px;
    animation: splitAnimation 3s forwards;
}

.about-container h1{
    margin-bottom:0px;
    font-family:'Pacificoregular';
    font-size:36px;
    animation: splitAnimation 3s forwards;
}


.slider-background{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: transparent;
    margin-top:0px;
    margin-bottom:0px;
    padding: 0;
    position: relative;
    height: 80vh;
    display:block;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
}

.slider-bottom {
    width: 100%;
    margin: 0 -150px;
    padding: 0 150px;
    overflow:hidden;
    position: relative;
    background:transparent;
}

.slider-bottom-text {
    margin: -20px 0;
    display: none;
    animation: slideIn 3s ease-in-out forwards;
}

.text-below-box{
    text-align:center;
    font-size: 18px;
    color: ghostwhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.slider-bottom-text:first-child {
    display: block;
}

.dots-container {
    text-align: center;
    margin-top: 30px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.dot:hover {
    background-color: #717171;
}

.gallery-container {
    overflow: hidden;
    width: 100%;
    height:700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.gallery {
    display: flex;
    transition: transform 1s ease-in-out;
}

.gallery img {
    margin-right:50px;
    width: 40%;
    height: auto;
}

.textarea-contact-style {
    width: 600px;
    height: 150px; 
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
    margin-bottom: 20px;
}

.contact-background{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: transparent;
    margin: 0;
    padding: 0;
    position: relative;
    height: 75vh;
    display:block;
}

.contact-background h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-family: verdana
}

.contact-container{
    display: flex;
    flex-direction: row;
}

.left-contact-container{
    max-width:600px;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 70px 0;
    margin-left:100px
}

.right-contact-container{
    max-width:800px;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 30px 0;
    flex:1;
}

.insidecontact{
    margin-top:40px;
    margin-left:50px;
    margin-bottom: 40px;
}

.insidecontact input[type="radio"] {
    transform: scale(1.5);
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left:25px;
}

.insidecontact button[type="submit"]{
    width: 150px; 
    padding: 10px; 
    font-size: 16px; 
    border-radius:10px;
    background-color:rgb(35, 116, 85);
    color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.popup-contact{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:200px;
    padding: 20px;
    background-color: rgba(62, 62, 62, 0.6);
    border: 1px solid #ccc;
    z-index: 1000;
    color:white;
}

.popup-contact p{
    font-size:20px;
}

.close-popup-contact{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.socialmedia2{
    text-align: center;
    display: block;
    margin-left:50px;
    margin-top: 40px;
    margin-bottom:40px;
}

.socialmedia2 img{
    max-width:30px;
    margin-right:80px
}

footer {
    text-align: center;
    padding: 20px 0; /* Adjust padding as needed */
}

.line-with-gap {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.line-with-gap::before,
.line-with-gap::after {
    content: "";
    display: inline-block;
    width: 35%; 
    height: 3px; 
    background-color: black; 
}

.line-with-gap::before {
    margin-right: 8%;
}

.line-with-gap::after {
    margin-left: 8%;
}

.text-in-middle {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0; /* Adjust padding as needed */
    background-color: #fafdf3;
    font-size: 24px;
    font-family:'Pacificoregular'
}


.footer-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-links-left {
    text-align: left;
    margin-left:70px;
}

.footer-links-left a {
    display:block;
    margin-right: 10px; /* Adjust margin as needed */
    text-decoration: none;
    color: black; /* Adjust color as needed */
    margin-bottom: 20px;
}

.footer-link-right {
    text-align: right;
    margin-right:150px
}

.footer-link-right a {
    display: block;
    margin-bottom: 20px; /* Adjust margin as needed */
    text-decoration: none;
    color: black; /* Adjust color as needed */
}   


.line-with-gap-white {
    position: relative;
    text-align: center;
    margin-top: 20px;
    color:whitesmoke
}

.line-with-gap-white::before,
.line-with-gap-white::after {
    content: "";
    display: inline-block;
    width: 35%; 
    height: 3px; 
    background-color: whitesmoke; 
}

.line-with-gap-white::before {
    margin-right: 8%;
}

.line-with-gap-white::after {
    margin-left: 8%;
}

.text-in-middle-white {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0; /* Adjust padding as needed */
    background-color: transparent;
    font-size: 24px;
    font-family:'Pacificoregular'
}


.footer-container-white {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-links-left-white {
    text-align: left;
    margin-left:70px;
}

.footer-links-left-white a {
    display:block;
    margin-right: 10px; /* Adjust margin as needed */
    text-decoration: none;
    color: whitesmoke; /* Adjust color as needed */
    margin-bottom: 20px;
}

.footer-link-right-white {
    text-align: right;
    margin-right:150px
}

.footer-link-right-white a {
    display: block;
    margin-bottom: 20px; /* Adjust margin as needed */
    text-decoration: none;
    color: whitesmoke; /* Adjust color as needed */
}

.footer-text{
    font-weight:bold;
    font-size: 26px;
    margin-right:0;
    margin-bottom:0;
}

.footer-text-white{
    font-weight:bold;
    font-size: 26px;
    margin-right:0;
    margin-bottom:0;
    color:whitesmoke;
}

/* Background image for the final html background */
.final-background{
    background-image: url('image/bread-arrangement-cloth.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: transparent;
    padding: 0;
    position: relative;
    display:block;
    z-index: -1;
    color:black;
}

.final-socialmedia{
    text-align: center;
    margin-right: 10px;
    margin-top: 15px;
}

.final-socialmedia img{
    max-width:30px;
    margin-right:15px;
    margin-left:30px
}

/* Container for the payment box, centering its content */
.payment-boxContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
}

/* Styling for the outer container of the payment box */
.payment-big-empty-box{
    width: 600px;
    height: 500px;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

/* For the things in paymentbox */
.insidepayment{
    margin-top:70px;
    margin-left:80px;
    margin-bottom: 40px;
}

.insidepayment input[type="text"]{
    padding: 10px; 
    font-size: 12px; 
    border-radius:10px;
    background-color:rgb(250, 250, 250);
    margin-right:30px;
}

/* style for button type = "submit" */
.insidepayment button[type="submit"]{
    width: 438px; 
    padding: 10px; 
    font-size: 16px; 
    border-radius:10px;
    background-color:rgb(35, 116, 85);
    color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Hover effect */
.insidepayment button[type="submit"]:hover{
    color:darkgray;
}

/* Name text input field */
.payment-text-name{
    width:180px
}

/* card number text input field */
.payment-text-card{
    width:416px;
}

/* card cvv text input field */
.payment-text-cvv{
    width:60px;
    margin-left:170px;
}

@media screen and (max-width: 500px) {
    body{
        font-size:12px;
        margin:0;
    }
    .socialmedia2{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left:20px;
        margin-right:20px;
        margin-top:10px;
        margin-bottom:10px;
    }
    .socialmedia2 img{
        max-width: 15px;
        margin-right:40px;
        margin-left:10px;
        margin-bottom:20px;
        margin-top:10px;
        height:20px;
    }
    .logo img {
        max-width: 60px;
    }

    .menu ul {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .menu ul li {
        display: inline-block;
        margin: 8px 0;
        text-align: center;
    }

    .menu ul li a{
        font-size:19px;
        margin:0 5px;
    }

    #slider-container {
        display: flex;
        overflow: hidden;
    }
    
    .slider-item {
        width: 100%;
        display: none;
        justify-content:center;
        text-align:center;
        margin-left:0;
    }
    
    .slider-item img {
        max-width: 15%;
        height: auto;
        width:150px;
        margin: 0 10px;
        border-radius:30px;
        margin-bottom:10px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .photo {
        width: 100%; 
    }
    
    .details {
        width:90%;
        margin-top:20px;
    }
    
    .photo img {
        max-width: 75%;
        height: auto;
        display: block;
        margin-top: 50px;
        margin-left: 45px;
        margin-right:30px;
        border-radius:25px;
    }

    .boxContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:10px;
    }
    
    .big-empty-box{
        width: 270px;
        height: 1400px;
        border: 2px solid black;
        border-radius: 25px;
    }
    
    .inputbox{
        margin-top:40px;
        margin-left:25px;
        margin-bottom: 40px;
    }

    .textarea-style {
        width: 200px;
        height: 50px; 
        padding: 10px;
        font-size: 16px;
        border-radius: 10px;
        background-color: rgb(250, 250, 250);
        margin-bottom: 20px;
    }
    
    .inputbox input[type="radio"] {
        transform: scale(1.5);
        margin-right: 5px;
        margin-bottom: 10px;
        margin-left:25px;
    }
    

    select {
        width: 200px; 
        padding: 10px; 
        font-size: 16px; 
        border-radius:10px;
        background-color:rgb(250, 250, 250);
    }
    
    option {
        font-size: 16px; 
    }
    
    .inputbox input[type="date"]{
        width: 200px; 
        padding: 10px; 
        font-size: 16px; 
        border-radius:10px;
        background-color:rgb(250, 250, 250);
    }
    
    .inputbox input[type="text"]{
        width: 200px; 
        padding: 10px; 
        font-size: 16px; 
        border-radius:10px;
        background-color:rgb(250, 250, 250);
        margin-right:30px;
        margin-top:10px
    }
    
    .inputbox button[type="submit"]{
        width: 150px; 
        padding: 10px; 
        font-size: 16px; 
        border-radius:10px;
        background-color:rgb(35, 116, 85);
        color: whitesmoke;
    }
    
    .inputbox button[type="submit"]:hover{
        color:darkgray;
    }

    .about-container p{
        margin: 20px 25px;
        font-size: 16px;
    }
    
    .about-container h1{
        margin-bottom:0px;
        font-size:30px;
    }
    

    .slider-background{
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-color: transparent;
        padding: 0;
        position: relative;
        height: 80vh;
        display:block;
    }
    
    .slider-bottom {
        width: 100%;
        margin: 0 -50px;
        padding: 0 50px;
        overflow:hidden;
        position: relative;
        background:transparent;
    }

    .dots-container {
        margin-top: 5px;
    }
    .dot {
        margin: 0 2px;
        height: 10px; 
        width: 10px; 
    }

    .contact-container {
        flex-direction: column;
    }

    .left-contact-container,
    .right-contact-container {
        max-width: 100%;
        margin: 15px 0;
    }

    .left-contact-container iframe {
        width: 100%;
        height: 400px;
    }

    .right-contact-container p{
        font-size:16px
    }

    .insidecontact {
        margin: 20px; 
    }

    .insidecontact input[type="radio"] {
        transform: scale(1);
    }

    .image-contact-container {
        margin: 20px auto;
    }

    .image-contact-container p{
        margin: 20px;
        margin-top:0;
    }

    .images-contact-container {
        width: 100%;
        height: auto; 
        margin: 20px 0; 
    }

    .images-contact-container iframe {
        height:450px
    }

    .textarea-contact-style{
        width: 200px;
        height: 50px; 
        padding: 10px;
        font-size: 16px;
        border-radius: 10px;
        background-color: rgb(250, 250, 250);
        margin-bottom: 20px;
    }

    .images-contact-container img:first-child {
        display: none;
    }
    
    .menu-background-text{
        width:300px;
        text-align:center;
        font-size: 16px;
        color: ghostwhite;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menu-label-text{
        font-size:16px;
        margin-right:5px;
        margin-left:5px;
    }
    
    .menu-background-text img{
        max-width: 40px;
        margin-right:9px;
        margin-left:10px;
        margin-top:30px;
        margin-bottom: 40px;
        display: inline-block;
        filter: brightness(0) invert(1);
    }

    .gallery-container {
        overflow: hidden;
        width: 100%;
        height:250px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    }

    .gallery img {
        margin-right:25px;
    }


    .line-with-gap::before,
    .line-with-gap::after {
        content: "";
        display: inline-block;
        width: 20%; 
    }
    
    .text-in-middle {
        font-size: 18px;
    }
    
    .footer-links-left {
        text-align: left;
        margin-top:20px;
        margin-left:100px;
    }
    
    .footer-link-right {
        text-align: right;
        margin-top:20px;
        margin-right:100px
    }

    .footer-text{
        font-size: 18px;
    }

    footer p{
        font-size:14px;
    }

    .line-with-gap-white::before,
    .line-with-gap-white::after {
        content: "";
        display: inline-block;
        width: 20%; 
    }
    
    .text-in-middle-white {
        font-size: 18px;
    }
    
    .footer-links-left-white {
        text-align: left;
        margin-top:20px;
        margin-left:100px;
    }
    
    .footer-link-right-white {
        text-align: right;
        margin-top:20px;
        margin-right:100px
    }

    .footer-text-white{
        font-size: 18px;
    }

    .popup-contact{
        height:300px;
    }

    /* shrink the size to fit the 500px */
    .payment-big-empty-box{
        width: 340px;
        height: 500px;
        border: 2px solid black;
        border-radius: 25px;
    }

    /* smaller buttons */
    .insidepayment button[type="submit"]{
        width: 275px; 
    }
    
    /* Adjusting the position */
    .insidepayment{
        margin-top:70px;
        margin-left:30px;
        margin-bottom: 40px;
    }
    
    /* Adjust the size of input field */
    .payment-text-name{
        width:100px;
    }
    
    .payment-text-card{
        width:255px;
    }
    
    .payment-text-cvv{
        width:30px;
        margin-left:110px;
    }
}


