body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#fafdf3
}

.socialmedia{
    text-align: end;
    margin-right: 10px;
    margin-top: 15px;
}

.socialmedia img{
    max-width: 20px;
    margin-right:15px
}

.socialmedia2{
    text-align: center;
    margin-right: 10px;
    margin-top: 15px;
}

.socialmedia2 img{
    max-width:30px;
    margin-right:15px
}

.logo {
    text-align: center;
}
.logo img {
    max-width: 125px;
}

h1{
    font-size:28px;
    font-weight:bold;
    text-align:center;
}

.menu {
    /*background-color: #333;*/
    text-align: center;
}
.menu ul {
    list-style: none;
    padding: 0;
}
.menu ul li {
    
    display: inline;
    margin: 10px;
    position: relative;
}
.menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin: 0 10px;
}

.menu ul li a:hover{
    color:gray;
}

.background-responsive-img{
    background-image: url('image/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: transparent;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    display:block;
}

.slider-container {
    overflow: hidden;
    position: relative;
    height: 50px; /* Adjust the height as needed */
    background-color: #333; /* Set a background color for the slider */
}

.discount-text-container {
    overflow: hidden;
    position: relative;
    max-width: 98%; /* Adjust the width as needed */
    margin: 20px auto; /* Add some top margin to move the text down */
}


.discount-text {
    animation: slide 12s linear infinite; /* Adjust the animation duration as needed */
    white-space: nowrap;
    color: #fff; /* Set text color */
    font-size: 22px;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.button{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(35, 116, 85);
    font-size: 16px;
    border: none;
    border-radius:5px;
    position:absolute;
    color: whitesmoke;
    top: 85%;
    left: 50%;
    transform: translate(-50%); /*align the button to the center*/
    transition: color 0.3s ease; /*smooth transition effect*/
}

.button:hover {
    color:black;
}

.text_above_button{
    text-align:center;
    font-size: 18px;
    color: whitesmoke;
    position: absolute;
    top:71%;
    left: 50%;
    transform: translate(-50%);
}

.second-button-container{
    text-align: center;
}

.second-button{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(35, 116, 85);
    font-size: 16px;
    border: none;
    border-radius:5px;
    color: whitesmoke;
}

.second-button:hover{
     color:black;
}

.box-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap; /* Allow boxes to wrap to the next line if the screen is too small */
}

.box {
    width: 28%;
    border: 0.2px solid #ccc;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.box img {
    max-width: 100%;
    height: 70%;
    border-radius: 10px;
}

.box-text {
    margin-top: 10px;
}

.text-below-box{
    text-align:center;
    font-size: 18px;
    color: ghostwhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background{
    background-image: url('image/flat-lay-vegan-baked-products-arrangement.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: transparent;
    margin: 0;
    padding: 0;
    position: relative;
    height: 30vh;
    display:block;
}

.dropdown-content {
    display: none; /* Hide dropdown content initially */
    position: absolute;
    background-color: #f2f2f2;
    min-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content p {
    padding: 10px;
    margin: 0;
}

/* Create the hover effect to show the dropdown content */
.menu ul li:hover .dropdown-content {
    display: block;
}

.slider-container {
    width: 100%;
    margin: 0 -150px;
    padding: 0 150px;
    overflow:hidden;
    position: relative;
    background:transparent;
}

.slider-text {
    margin: -20px 0;
    display: none;
    animation: slideIn 3s ease-in-out forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.slider-text:first-child {
    display: block;
}

.dots-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot:hover {
    background-color: #717171;
}

@media screen and (max-width: 500px) {
    body{
        font-size:12px;
        margin:0;
    }
    .socialmedia{
        text-align: end;
        margin: 5px 10px 0 0;
    }

    .socialmedia img {
        max-width: 25px;
        margin-right: 5px;
    }
    .socialmedia2{
        text-align:center;
        margin:0;
    }
    .socialmedia2 img{
        max-width: 25px;
    }

    .logo img {
        max-width: 60px;
    }

    h1 {
        font-size: 14px;
    }

    .menu ul li {
        display: block;
        margin: 8px 0;
    }

    .background-responsive-img {
        background-size:cover;
        background-attachment: scroll;
    }

    .discount-text-container {
        max-width: 100%; /* Adjust the width to 100% for full responsiveness */
        margin: 20px auto; /* Add some top margin to move the text down */
    }

    .discount-text {
        font-size: 14px; /* Adjust the font size for smaller screens */
    }

    .button,
    .text_above_button,
    .second-button{
        margin: 10px 0;
    }

    .button {
        top: 85%;
        transform: translateX(-50%);
        padding: 6px 15px; 
        font-size: 14px;
    }

    .second-button{
        padding: 6px 15px;
        font-size: 14px; 
        border-radius: 5px; 
    }

    .text_above_button {
        top: 60%;
        font-size: 14px; 
    }

    .second-button-container {
        margin-top: 8px;
        text-align:center;
    }

    .box-container {
        justify-content: center;
    }

    .box {
        width: 100%;
        font-size: 12px;
    }

    .background {
        height: 35vh;
    }

    .slider-container,
    .slider-text-container {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    .slider-text {
        display: block;
        font-size: 11px;
        overflow:auto;
    }

    .dots-container {
        margin-top: 5px;
    }
    .dot {
        margin: 0 2px;
        height: 10px; /* Decrease the height of the dot */
        width: 10px; /* Decrease the width of the dot */
    }
}

