body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#fafdf3
}

.icons{
    text-align: end;
    margin-right: 10px;
    margin-top: 15px;
    position: relative;
}

.icons img{
    max-width: 30px;
    margin-right:15px;
    cursor: pointer;
}

.socialmedia2{
    text-align: center;
    display: block;
    margin-left:50px;
    margin-top: 40px;
    margin-bottom:40px;
}

.socialmedia2 img{
    max-width:30px;
    margin-right:80px;
}

.logo {
    text-align: center;
}
.logo img {
    max-width: 125px;
}

h1{
    font-size:28px;
    font-weight:bold;
    text-align:center;
    font-family:'Pacificoregular';
}

.menu {
    /*background-color: #333;*/
    text-align: center;
}
.menu ul {
    list-style: none;
    padding: 0;
    margin-bottom:4px;
}
.menu ul li {
    
    display: inline;
    margin: 10px;
    position: relative;
}
.menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 24px;
    margin: 0 10px;
    font-family:'Pacificoregular';
}

.menu ul li a:hover{
    color:gray;
}

.background-responsive-img{
    background-image: url('image/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: transparent;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    display:block;
}

.slider-container {
    overflow: hidden;
    position: relative;
    height: 50px; /* Adjust the height as needed */
    background-color: #333; /* Set a background color for the slider */
}

.discount-text-container {
    overflow: hidden;
    position: relative;
    max-width: 98%; /* Adjust the width as needed */
    margin: 20px auto; /* Add some top margin to move the text down */
}


.discount-text {
    animation: slide 12s linear infinite; /* Adjust the animation duration as needed */
    white-space: nowrap;
    color: #fff; /* Set text color */
    font-size: 22px;
    font-family:'verdana'
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.button{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(35, 116, 85);
    font-size: 16px;
    border: none;
    border-radius:5px;
    position:absolute;
    color: whitesmoke;
    top: 85%;
    left: 50%;
    transform: translate(-50%); /*align the button to the center*/
    transition: color 0.3s ease; /*smooth transition effect*/
}

.button:hover {
    color:black;
}

.text_above_button{
    text-align:center;
    font-size: 18px;
    color: whitesmoke;
    position: absolute;
    top:71%;
    left: 50%;
    transform: translate(-50%);
}

.second-button-container{
    text-align: center;
}

.second-button{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(35, 116, 85);
    font-size: 16px;
    border: none;
    border-radius:5px;
    color: whitesmoke;
}

.second-button:hover{
     color:black;
}

.box-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap; /* Allow boxes to wrap to the next line if the screen is too small */
}

.box {
    width: 28%;
    border: 0.2px solid #ccc;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    cursor: pointer;
}

.box img {
    max-width: 100%;
    height: 70%;
    border-radius: 10px;
}

.box-text {
    margin-top: 10px;
    color:black;
}

.box img:hover {
    transform: scale(1.1); /* Adjust the scale factor for the close-up effect */
}

.text-below-box{
    text-align:center;
    font-size: 18px;
    color: ghostwhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:'verdana';
}

.background{
    /*background-image: url('image/flat-lay-vegan-baked-products-arrangement.jpg');*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: transparent;
    margin: 0;
    padding: 0;
    position: relative;
    height: 70vh;
    display:block;
}

.background video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
}

.slider-container {
    width: 100%;
    margin: 0 -150px;
    padding: 0 150px;
    overflow:hidden;
    position: relative;
    background:transparent;
}

.popup-menu {
    text-align: center;
    width:100px;
    display: none;
    position: fixed;
    top: 60px; /* Adjust the top position as needed */
    right: 0;
    background-color: #f9f9f9;
    overflow-x: hidden;
    padding: 10px;
    z-index: 1;
    margin-right: 30px;
}

.popup-menu a {
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    margin-bottom: 10px;
    transition: 0.3s;
}

.popup-menu a:hover {
    color: #000000;
}

.slider-text {
    margin: -20px 0;
    display: none;
    animation: slideIn 3s ease-in-out forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.slider-text:first-child {
    display: block;
}

.dots-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot:hover {
    background-color: #717171;
}

footer {
    text-align: center;
    padding: 20px 0; /* Adjust padding as needed */
}

.line-with-gap {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.line-with-gap::before,
.line-with-gap::after {
    content: "";
    display: inline-block;
    width: 35%; 
    height: 3px; 
    background-color: black; 
}

.line-with-gap::before {
    margin-right: 8%;
}

.line-with-gap::after {
    margin-left: 8%;
}

.text-in-middle {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0; /* Adjust padding as needed */
    background-color: #fafdf3;
    font-size: 24px;
    font-family:'Pacificoregular'
}


.footer-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-links-left {
    text-align: left;
    margin-left:70px;
}

.footer-links-left a {
    display:block;
    margin-right: 10px; /* Adjust margin as needed */
    text-decoration: none;
    color: black; /* Adjust color as needed */
    margin-bottom: 20px;
}

.footer-link-right {
    text-align: right;
    margin-right:150px
}

.footer-link-right a {
    display: block;
    margin-bottom: 20px; /* Adjust margin as needed */
    text-decoration: none;
    color: black; /* Adjust color as needed */
}

.footer-text{
    font-weight:bold;
    font-size: 26px;
    margin-right:0;
    margin-bottom:0;
}

@media screen and (max-width: 500px) {
    body{
        font-size:12px;
        margin:0;
    }
    .socialmedia2{
        text-align:center;
        margin-left:5px
    }
    .socialmedia2 img{
        max-width: 25px;
        margin-right:25px;
        margin-left:25px
    }

    .logo img {
        max-width: 60px;
    }

    h1 {
        font-size: 14px;
    }

    .menu ul li {
        display: block;
        margin: 8px 0;
    }

    .background-responsive-img {
        background-size:cover;
        background-attachment: scroll;
    }

    .discount-text-container {
        max-width: 100%; /* Adjust the width to 100% for full responsiveness */
        margin: 20px auto; /* Add some top margin to move the text down */
    }

    .discount-text {
        font-size: 14px; /* Adjust the font size for smaller screens */
    }

    .button,
    .text_above_button,
    .second-button{
        margin: 10px 0;
    }

    .button {
        top: 85%;
        transform: translateX(-50%);
        padding: 6px 15px; 
        font-size: 14px;
    }

    .second-button{
        padding: 6px 15px;
        font-size: 14px; 
        border-radius: 5px; 
    }

    .text_above_button {
        top: 70%;
        font-size: 14px; 
    }

    .second-button-container {
        margin-top: 8px;
        text-align:center;
    }

    .box-container {
        justify-content: center;
    }

    .box {
        width: 100%;
        font-size: 12px;
    }

    .background {
        height: 45vh;
        overflow: visible;
    }

    .text-below-box {
        font-size: 16px;

    }

    .slider-container,
    .slider-text-container {
        max-width: 100%;
        margin: 0;
        padding: 20px 0;
    }

    .slider-text {
        display: block;
        font-size: 11px;
        overflow:auto;
    }

    .dots-container {
        margin-top: 5px;
    }
    .dot {
        margin: 0 2px;
        height: 10px; /* Decrease the height of the dot */
        width: 10px; /* Decrease the width of the dot */
    }
    
    .line-with-gap::before,
    .line-with-gap::after {
        content: "";
        display: inline-block;
        width: 20%; 
    }
    
    .text-in-middle {
        font-size: 18px;
    }
    
    .footer-links-left {
        text-align: left;
        margin-top:20px;
        margin-left:100px;
    }
    
    .footer-link-right {
        text-align: right;
        margin-top:20px;
        margin-right:100px
    }

    .footer-text{
        font-size: 18px;
    }

    footer p{
        font-size:14px;
    }
}

